.authWrapper {
  display: block;
  width: 100%;
  max-width: 30.0rem;
  margin: 4rem auto 6rem;
  background: #dde5f4;
  border-radius: 15px;

  form{
    padding: 40px;
  }
  .input-wrapper{
position: relative;
  }

  .input-icon{
position: absolute;
    display: block;
    background-repeat: no-repeat;
    width: 25px;
    height: 30px;
    left: -80px;
    margin-top: 13px;
  }
  .wrap {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo-form{
      max-width: 200px;
  }

    h2 {
      font-size: 2.2rem;
      line-height: 1;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0 auto 3rem;
    }


    .children{
width: 100%;
margin-top:100px;
    }
  }

}